body {
  background-color: darkgoldenrod;
}
h1 {
  color: blueviolet;
}
p {
  color: crimson;
}
.mom {
  line-height: 30px;
}
input[type="password"] {
  border: 3px solid crimson;
}
.linh:hover {
  color: darkcyan;
}
